<%- include("partials/header.ejs") %>

<h2>Personal Blogs</h2>

<% posts.forEach((post) => { %>
  <h3><%=post.title%></h3>
  <p><%=post.content.substring(0, 70)+" ...."%><a href="/posts/<%=post._id%>">Read More</a></p>
<% }) %>

<%- include("partials/footer.ejs") %>