<%- include("partials/header.ejs") %>

<h2>All Personal Blogs</h2>

<% para.forEach((posts) => { %>
  <h3><%=posts.title%></h3>
  <p><%=posts.content.substring(0, 70)+" ...."%><a href="/posts/<%=posts.title%>">Read More</a></p>
<% }) %>

<%- include("partials/footer.ejs") %>